html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

ul, ol {
  list-style: none;
}
ul li, ol li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #00A7E1;
}

ol {
  padding: 0;
}

.button {
  padding: 0;
  margin: 0;
}

* {
  letter-spacing: 0.04em;
}

p {
  margin: 1rem 0;
  font-size: 1.6rem;
}

h1, h2 {
  color: #021F61;
}

.turquoise {
  color: #00A7E1;
}

.darkblue {
  color: #021F61;
}

.med-blue {
  color: #007EA7;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h5 {
  color: #00A7E1;
}

h6 {
  padding: 0.5rem;
}

.footer-heading {
  font-size: 3.5rem;
}

.bullets {
  list-style-type: square;
}

h1, h2, h3 {
  font-weight: 900;
}

h1, h2 {
  text-transform: uppercase;
}

p {
  font-weight: 400;
}

header .flex-column {
  font-weight: 300;
}

.txt-align-left {
  text-align: left;
}

.txt-align-right {
  text-align: right;
}

header h2 {
  font-size: 2rem;
}
header p {
  font-size: 1rem;
}

footer h2 {
  font-size: 1.5rem !important;
}

@media screen and (min-width: 780px) {
  p {
    margin: 1.5rem 0;
  }

  h1, h2 {
    color: #021F61;
  }

  .turquoise {
    color: #00A7E1;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 400;
  }

  h5 {
    color: #00A7E1;
  }

  h6 {
    padding: 0.5rem;
  }

  .footer-heading {
    font-size: 3.5rem;
  }
}
.bold {
  font-weight: 600;
}

* {
  font-family: "Roboto", sans-serif;
}
* :hover {
  transition: all 0.65s;
}

body {
  width: 100%;
  font-size: 1em;
  overflow: scroll;
  overflow-x: hidden;
}

i:hover {
  transition: background-color 0.2s;
}

.pawprint-svg {
  height: 3rem;
  width: auto;
  margin: 0 0.5rem;
}

.more-button {
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
}
.more-button a {
  color: black;
}
.more-button a:hover {
  color: white;
}
.more-button a:focus {
  color: white;
}
.more-button a:visited {
  color: black;
}

.more-button:hover a {
  color: white;
}

.more-button:focus a {
  color: white;
}

.center {
  text-align: center;
}

.header-col {
  width: 16rem;
}

.third-width {
  width: 30%;
}

.half-width {
  width: 50%;
}

.two-third-width {
  width: 75%;
}

.full-width {
  width: 100%;
}

.auto-width {
  width: max-content;
  margin: 1rem auto;
}

.auto-margin {
  margin: 1.5rem auto;
}

.third-height {
  height: 50vh;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-around {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.align-right {
  display: flex;
  align-content: flex-end;
}

.bunch-of-padding {
  padding: 4.5rem 2rem;
}

.minipaw {
  width: 4rem;
  margin: 0 1rem;
  justify-content: center;
  align-items: center;
}

.justify-right {
  display: flex;
  justify-content: flex-end;
}

.top-padding {
  padding-top: 1.5rem;
}

.margin-top {
  margin-top: 1.5rem;
}

.zero-out {
  margin: 0;
  padding: 0;
}

.push-up {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.bottom-margin {
  margin-bottom: 18vh;
}

.heading-row .paw-print {
  display: flex;
  font-size: 2rem;
}

.negative-heading {
  margin-bottom: -2.5rem;
  margin-left: -0.5rem;
  font-size: 5rem;
  letter-spacing: 0.3rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.button {
  width: 30vw;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 0.5rem 2rem;
  border-top: 3px solid #021F61;
  border-bottom: 3px solid #021F61;
  border-left: none;
  border-right: none;
  background-color: white;
  text-transform: uppercase;
  color: #021F61;
}

.button:hover {
  background-color: #021F61;
  color: white;
}

.button:focus {
  color: white;
}

hr {
  margin: 1.5rem auto;
}

.hidden-at-small, .hidden-at-small * {
  display: none;
}

@media screen and (min-width: 780px) {
  .hidden-at-small, .hidden-at-small * {
    display: flex;
  }

  .hide-at-large, .hide-at-large div, .hide-at-large h3, .hide-at-large p, .hidden-at-large * {
    display: none;
  }
}
header, .nav {
  background-color: #021F61;
  color: white;
}

header {
  font-weight: 300;
}
header .flex-column {
  font-weight: 300;
}

.paws-logo {
  height: 12rem;
}

i {
  color: white;
}

.nav {
  padding: 0 1.5rem;
  display: flex;
  text-transform: uppercase;
}
.nav .nav-links {
  width: 100%;
  justify-content: space-between;
}
.nav a {
  padding: 0.5rem 1.5rem;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.nav a:hover {
  background-color: #00A7E1;
}

.mobile-nav {
  width: 12%;
}

.header-icons {
  display: flex;
  font-size: 2rem;
}
.header-icons a {
  margin: 0 2rem;
  margin-left: 0;
}

.mobile-btn {
  font-size: 8vw;
  margin-top: 1rem;
}

#mobile-nav {
  display: flex;
  width: 100%;
}

#mobile-hamburger, #mobile-social {
  z-index: 9000;
}

header h2 {
  color: white;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

#address-full-screen {
  text-align: right;
}

#side-menu-social {
  height: 100vh;
  display: flex;
}
#side-menu-social a {
  font-size: 5vmax;
}

#side-menu, #side-menu-social {
  display: none;
}

.side-nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00A7E1;
  height: 100vh;
  width: 100vw;
  z-index: 100000;
  text-align: left;
  font-size: 5vmax;
}

.side-nav a {
  display: flex;
  flex-direction: row;
  padding: 1rem 10%;
  transition: all 0.2s ease-in-out;
}

.side-nav a:hover {
  background-color: #021F61;
  color: white;
}

.side-nav a:active {
  background-color: #021F61;
  color: white;
}

.social-sidenav-flex-cont {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.social-sidenav-flex-cont a {
  vertical-align: center;
}
.social-sidenav-flex-cont a:hover {
  background: none;
}
.social-sidenav-flex-cont a:focus {
  background: none;
}
.social-sidenav-flex-cont i {
  padding: 0;
}
.social-sidenav-flex-cont p {
  font-size: 5vmax;
  margin: 0;
}

.social-sidenav-flex-cont:hover {
  background-color: #021F61;
}

.social-sidenav-flex-cont:focus {
  background-color: #021F61;
}

@media screen and (min-width: 780px) {
  .paws-logo {
    height: 14rem;
    margin-top: -0.25rem;
  }

  .sticky-nav {
    background-color: #021F61;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
  }

  .sticky + header {
    padding-top: 60px;
  }
}
footer {
  background-color: #021F61;
  color: white;
  padding: 1rem;
}
footer h2 {
  color: white;
}
footer h3 {
  margin: 0.2rem 0;
}
footer h6 {
  margin: 0;
}

.footer-icons {
  font-size: 3rem;
}
.footer-icons a {
  margin: 1rem;
}

footer .flex-column {
  margin: 0 5vw;
}

#small-map {
  background-color: #021F61;
}

.phone {
  grid-area: phone;
  display: flex;
  flex-direction: row;
}
.phone h2 {
  font-size: 1.5rem;
  width: auto;
}
.phone .phoneNumber {
  padding: 0 1rem;
}

.map {
  grid-area: map;
  width: 50vw;
}

.location {
  grid-area: location;
}

.hours {
  grid-area: hours;
}

.grooming-phone {
  grid-area: grooming;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.grooming-phone h2 {
  font-size: 1.5rem;
  width: auto;
}

.pawprint-row {
  background-color: #007EA7;
  color: white;
  height: 6.5rem;
  margin-top: 2rem;
  position: relative;
  display: flex;
  justify-content: justify;
}
.pawprint-row .even {
  position: absolute;
  top: 0;
}
.pawprint-row .odd {
  position: absolute;
  bottom: 0;
}

.paw-print-bar svg {
  height: 10vh;
  width: 10vw;
  color: white;
}

.flip * {
  transform: rotate(90deg);
}

.heading {
  grid-area: heading;
  display: flex;
  margin: 0 auto;
}

.image {
  grid-area: svgImage;
  padding: 6vw;
}

.copy {
  grid-area: articleCopy;
  margin: 4vw 2vw;
}

#free-samples-article {
  display: flex;
  flex-direction: column;
}
#free-samples-article #mobile-flex {
  display: flex;
  flex-direction: column-reverse;
}
#free-samples-article svg {
  margin: 0 auto;
}

.main-banner {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  height: 65vh;
}

.img-ban {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all ease-in-out 600ms;
}

#img-ban1 {
  background-image: url(carousel-img/dog.jpg);
}

#img-ban2 {
  background-image: url(carousel-img/brownPooch.jpg);
}

#img-ban3 {
  background-image: url(carousel-img/sleepyPooch.jpg);
  display: flex;
  justify-content: flex-end;
}

#img-ban4 {
  background-image: url(wetdog.jpeg);
  position: relative;
  align-items: flex-end;
}

#img-ban5 {
  background-image: url(carousel-img/meadowPooch.jpg);
  display: flex;
  justify-content: flex-end;
}

.slider-text {
  overflow: hidden;
  color: white;
  margin: 1rem;
  padding: 2vw;
  width: 58%;
  text-shadow: 3px 3px 2px black;
  font-weight: 900;
  letter-spacing: 0.18rem;
  font-size: 4.5vmax;
  line-height: 1.2;
}

#slider-text1 {
  align-items: flex-start;
  width: 100%;
  color: black;
  text-shadow: none;
}

#slider-text2 {
  align-items: center;
}

#slider-text3 {
  width: 50%;
  justify-content: flex-end;
  align-items: right;
}

#slider-text4 {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  justify-content: center;
}

#slider-text5 {
  text-align: right;
}

.mobile-carousel-image {
  background-image: url("goldenRetriever.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 60vh;
}

.blue-banner {
  padding-top: 10rem;
  background-color: #021F61;
  position: relative;
  z-index: -10;
}
.blue-banner h2 {
  position: absolute;
  left: -4px;
  bottom: -15px;
  color: white;
  font-size: 5rem;
  letter-spacing: 0.2rem;
  line-height: 1;
}

/*
//DEVELOPMENT ONLY NOT FOR PRODUCTION
* {
    border: 1px solid brown;
    img {border: 1px solid brown;}
    svg {
        border: 1px solid brown;
    }
}
//END DEVELOPMENT ONLY
*/
header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

@media screen and (min-width: 780px) {
  header {
    justify-content: space-between;
  }
}
article {
  display: grid;
  margin: 8vh 0;
  grid-template-areas: "heading" "svgImage" "articleCopy";
}

@media screen and (min-width: 780px) {
  article {
    margin-bottom: 12vh;
  }
  article .image {
    padding: 0 2vw;
  }
  article .copy {
    margin: 0;
  }
  article .heading {
    align-items: flex-start;
    margin: 0;
  }

  .right {
    grid-template-columns: auto auto;
    grid-column-gap: 4vw;
    grid-template-areas: "heading     svgImage" "articleCopy svgImage";
  }

  .left {
    grid-template-columns: auto auto;
    grid-template-areas: "svgImage heading" "svgImage articleCopy";
  }
}
.grid-tiles {
  display: grid;
  grid-row-gap: 2vh;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  text-align: center;
  justify-content: center;
  align-items: center;
}

.brands-grid-tile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brands-grid-tile img {
  width: 80%;
  margin: 0.5rem;
}

.footer-grid {
  display: grid;
  width: 100vw;
  grid-template-areas: "phone" "grooming" "hours" "location" "map";
}
.footer-grid div {
  margin-bottom: 2vh;
}

@media screen and (min-width: 780px) {
  .footer-grid {
    grid-template-rows: auto 1fr;
    grid-column-gap: 20px;
    grid-template-areas: "phone grooming" "map   hours" "map   location";
  }

  div {
    margin: 0;
  }
}
.wrapper {
  width: 100%;
}

.side-padding {
  padding: 0 5vw;
}

.some-side-padding {
  padding: 0 4vw;
}

.some-padding {
  padding: 0.2rem 2rem;
}

@media screen and (min-width: 780px) {
  header {
    grid-template-rows: auto auto auto;
  }

  .side-padding {
    padding: 0 10vw;
  }

  .some-side-padding {
    padding: 0 5vw;
  }

  .grid-side-padding {
    padding: 0 5vw;
  }
}
@media screen and (min-width: 1280px) {
  .side-padding {
    padding: 0 18vw;
  }

  .some-side-padding {
    padding: 0 10vw;
  }

  .grid-side-padding {
    padding: 0 10vw;
  }
}
.slideanim {
  visibility: hidden;
  visibility: visible\	;
  /*For old IE browsers IE6-8 */
}

.slideanim.slide {
  visibility: visible;
  animation: slide 1s;
}

.slideanim::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.grooming-mobile-hero {
  background-image: url("groomingYorkie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 54vh;
  position: relative;
}
.grooming-mobile-hero h2 {
  position: absolute;
  left: -4px;
  bottom: -20px;
  color: white;
  font-size: 4rem;
  line-height: 1;
}

.grooming-main-banner {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  height: 70vh;
}

.grooming-title {
  margin: 2rem 0;
}

.grooming-img-ban {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all ease-in-out 600ms;
}

#grooming-img-ban1 {
  background-image: url(groomingYorkie.jpg);
}

#grooming-img-ban2 {
  background-image: url(goldenPuppies.jpeg);
}

#grooming-img-ban3 {
  background-image: url(groomingSmallDog.jpg);
  display: flex;
  justify-content: flex-end;
}

#grooming-img-ban4 {
  background-image: url(groomingSelfWash.jpg);
  position: relative;
  align-items: flex-end;
}

#grooming-img-ban5 {
  background-image: url(whitecat.jpg);
  display: flex;
  justify-content: flex-end;
}

.grooming-slider-text {
  overflow: hidden;
  color: white;
  margin: 1rem;
  padding: 2vw;
  width: 58%;
  text-shadow: 3px 3px 2px black;
  font-weight: 900;
  letter-spacing: 0.18rem;
  font-size: 4.5vmax;
  line-height: 1.2;
}

#grooming-slider-text1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-shadow: none;
}

#grooming-slider-text2 {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  justify-content: center;
  color: white;
  text-align: center;
}

#grooming-slider-text3 {
  width: 50%;
  justify-content: flex-end;
  align-items: right;
}

#grooming-slider-text4 {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  justify-content: center;
  color: white;
}

#grooming-slider-text5 {
  text-align: right;
}

.grooming-services {
  background-image: url("groomingYorkie.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 100% auto;
  width: 100vw;
  height: 70vh;
  position: relative;
}

.grooming-selfservice {
  margin: 4vw 2vw;
}

.grooming-selfservice-svg {
  height: 50vh;
  width: 70vw;
}

.grooming-selfservice-h2, .grooming-selfservice-p {
  padding: 0 4vw;
}

.service-list {
  padding: 0 4vw;
}

.service-list li {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.grooming-dog {
  width: 50vw;
  height: 50vw;
}

.poodlesvg {
  margin-top: -100px;
}

.grooming-puppypackage {
  padding-bottom: 5vh;
  padding-top: 5vh;
}

#scottie-svg {
  height: 50vh;
}

h4 {
  font-size: 1.5rem;
}

@media screen and (min-width: 780px) {
  .grooming-services-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    grid-template-areas: ". services . call ." ". services . poodlesvg ." ". puppypackage puppypackage puppypackage .";
  }

  .service-list {
    grid-area: services;
  }

  .grooming-puppypackage {
    grid-area: puppypackage;
  }

  .poodlesvg {
    grid-area: poodlesvg;
    width: 25vw;
  }

  .grooming-nailtrims {
    grid-area: call;
  }

  h4 {
    font-size: 2rem;
  }

  .grooming-selfservice {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    grid-template-areas: ". groomingtitle . tubsvg ." ". ptext . tubsvg .";
  }

  .grooming-selfservice-svg {
    grid-area: tubsvg;
    height: 30vh;
    width: 30vw;
  }

  .grooming-selfservice-p {
    grid-area: ptext;
  }

  .grooming-selfservice-h2 {
    grid-area: groomingtitle;
  }

  .grooming-dog {
    height: 40vh;
    width: 40vw;
  }
}
.food-intro {
  width: 100%;
}

.food-svg {
  height: 20vh;
}

.btn-close, .btn-open {
  font-size: 8vmax;
}

@media screen and (min-width: 780px) {
  .food-intro {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    grid-template-areas: ". foodtitle . dogsvg ." ". ptext . dogsvg .";
  }

  .food-svg {
    grid-area: dogsvg;
    height: 40vh;
    width: 40vw;
  }

  .food-title {
    grid-area: foodtitle;
    text-align: left;
  }

  .food-ptext {
    grid-area: ptext;
  }

  #free-samples {
    font-size: 50px;
    color: white;
  }
}

/*# sourceMappingURL=output.css.map */
